# Exploratory Data Analysis on Covid 19

Dataset by [Johns Hopkins University](https://www.jhu.edu/), preprocessed by [Laxmi Kant Tiwari](https://github.com/laxmimerit)

## 1. INSTALLATION AND INITIAL SETUP

In [2]:
# install folium for map based plotting
#!pip3 install folium

# install plotly for dynamic plots
#!pip3 install plotly

Requirement already satisfied: folium in e:\anaconda\lib\site-packages (0.11.0)
Requirement already satisfied: numpy in e:\anaconda\lib\site-packages (from folium) (1.16.5)
Requirement already satisfied: branca>=0.3.0 in e:\anaconda\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: requests in e:\anaconda\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: jinja2>=2.9 in e:\anaconda\lib\site-packages (from folium) (2.10.3)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\lib\site-packages (from requests->folium) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in e:\anaconda\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in e:\anaconda\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in e:\anaconda\lib\site-packages (from requests->folium) (1.24.2)
Requirement already satisfied: MarkupSafe>=0.23 in e:\anaconda\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
^C

In [5]:
# imports
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import folium

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import math
import random
from datetime import timedelta

import warnings
warnings.filterwarnings('ignore')

# color pallette
cnf = '#393e46'
dth = '#ff2e63'
rec = '#21bf73'
act = '#fe9801'

## 2. DATASET PREPARATION

In [6]:
# setting plotly to offline
import plotly as py
py.offline.init_notebook_mode(connected = True)

In [7]:
import os

In [11]:
try:
    os.system("rm -rf Covid-19-Preprocessed-Dataset")
except:
    print("File does not exist.")

In [13]:
!git clone https://github.com/laxmimerit/Covid-19-Preprocessed-Dataset.git

fatal: destination path 'Covid-19-Preprocessed-Dataset' already exists and is not an empty directory.

In [14]:
df = pd.read_csv('Covid-19-Preprocessed-Dataset/preprocessed/covid_19_data_cleaned.csv', parse_dates = ['Date'])

In [19]:
# show dataframe
# df
# clean missing values ( Province/State in this case )fill with empty string
df['Province/State'] = df['Province/State'].fillna("")
df.head()

,Date,Province/State,Country,Lat,Long,Confirmed,Recovered,Deaths,Active
0,2020-01-22,,Afghanistan,33.0,65.0,0,0,0,0
1,2020-01-23,,Afghanistan,33.0,65.0,0,0,0,0
2,2020-01-24,,Afghanistan,33.0,65.0,0,0,0,0
3,2020-01-25,,Afghanistan,33.0,65.0,0,0,0,0
4,2020-01-26,,Afghanistan,33.0,65.0,0,0,0,0

In [20]:
country_daywise = pd.read_csv('Covid-19-Preprocessed-Dataset/preprocessed/country_daywise.csv', parse_dates = ['Date'])
countrywise = pd.read_csv('Covid-19-Preprocessed-Dataset/preprocessed/countrywise.csv')
daywise = pd.read_csv('Covid-19-Preprocessed-Dataset/preprocessed/daywise.csv', parse_dates = ['Date'])

In [21]:
country_daywise.head()

,Date,Confirmed,Deaths,Recovered,Active,New Cases,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of Countries
0,2020-01-22,555,17,28,510,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,2.64,2.46,107.69,13

In [22]:
countrywise.head()

,Country,Confirmed,Deaths,Recovered,Active,New Cases,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Population,Cases / Million People,Confirmed last week,1 week change,1 week % increase
0,Afghanistan,4033,115,502,3416,255,2.85,12.45,22.91,38928341,104.0,8676,4360,50.25
1,Albania,856,31,627,198,6,3.62,73.25,4.94,2877800,297.0,969,107,11.04
2,Algeria,5558,494,2546,2518,189,8.89,45.81,19.40,43851043,127.0,7728,1269,16.42
3,Andorra,754,48,545,161,2,6.37,72.28,8.81,77265,9759.0,762,1,0.13
4,Angola,43,2,13,28,0,4.65,30.23,15.38,32866268,1.0,58,16,27.59

In [23]:
daywise.head()

,Date,Confirmed,Deaths,Recovered,Active,New Cases,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of Countries
0,2020-01-22,555,17,28,510,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,2.64,2.46,107.69,13

-------------------------  initial stage done.  ---------------------------